<table style='table-layout:fixed;width:100%;overflow:hidden;word-wrap:break-word;padding:15px;'>
  <tr bgcolor="#F5A9D0">
    <th colspan='2' align='center'>
      {{app}} Errors
    </th>
  </tr>
  <tr bgcolor="#F5A9D0">
    <td align='center' width = '346' style='padding:3px;'>
      <b>
        Error
      </b>
    </td>

    <td align='center' width = '346' style='padding:3px;'>
      <b>
        No of occurrences
      </b>
    </td>
  </tr>
  {{errors}}
</table>

{{detailed_errors}}
