<table style='table-layout:fixed;width:100%;overflow:hidden;word-wrap:break-word;padding:15px;'>
  <tr>
    <th colspan='2' align='center' bgcolor="#FA5882">
      Log Entries for : {{type}}
    </th>
  </tr>

  {{err_list}}
</table>
