<tr>
  <td bgcolor="#f7f7f7" style="font-family:'lucida grande', tahoma, verdana, arial, sans-serif;padding:10px;font-size:15">
    {{error}}
  </td>

  <td bgcolor="#f7f7f7" style="font-family:'lucida grande', tahoma, verdana, arial, sans-serif;padding:10px;font-size:15">
    {{count}}
  </td>
</tr>
