<table style='table-layout:fixed;overflow:hidden;word-wrap:break-word;'>
  <tr>
    <th colspan='3' align='center'>
      Nginx Error logs for {{app}}
    </th>
  </tr>
  <tr>
    <td align='center' width = '346' style='padding:3px;'>
      <b>
        Error
      </b>
    </td>
    <td align='center' width = '346' style='padding:3px;'>
      <b>
        Request Urls
      </b>
    </td>
    <td align='center' width = '346' style='padding:3px;'>
      <b>
        No of occurrences
      </b>
    </td>
  </tr>

  {{errors}}
</table>
